.registration{
    padding: 20px 0;
    background-color: #97886C;
    height: 100vh;
}
.kempir{
    right: -25vw;
}
.reg-text{
    margin-bottom: 8vh;
}
.reg-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0 auto;
}
.reg-control{
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #ffffff;
    padding: 6px 6px 3px 6px;
    margin-bottom: 4px;
}
.reg-control::placeholder{
    color: #fff;
    font-size: 8px;
    text-transform: uppercase;
}
.reg-btn{
    margin-top: 3vh;
    background-color: #979483;
    padding: 14px;
    font-weight: normal;
}
.card-reg{
    background-color: #b8b399ba;
}
.card-reg-btn{
    background-color: #979483;
}
.card-reg-btn:hover,
.reg-btn:hover{
    background-color: #8e8b7b;
}
@media (min-width: 576px) {
    .reg-form{
        width: 500px;
    }
    .reg-control{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .reg-control::placeholder{  
        font-size: 12px;
    }
    
}
@media (min-width: 768px) {
    .kempir{
        right: 4vw;
    }
    
}
@media (min-width: 992px) {

    .card-reg{
        background-color: #B8B399;
    }
    .reg-control{
        margin-bottom: 12px;
    }
    
}