.registration{  
    background-color: #97886C;  
}
.kempir{
    right: -25vw;
}
.reg-text{
    margin-bottom: 8vh;
}
.reg-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* font-size: 14px; */
    margin: 0 auto;
}
.reg-control{
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #ffffff;
    padding: 6px 6px 3px 6px;
    margin-bottom: 2.5vw;
}
.reg-control::placeholder{
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
}
.reg-btn{
    margin-top: 3vh;
    background-color: #979483;
    padding: 14px;
    font-weight: normal;
}
.card-reg{
    background-color: #b8b399ba;
}
.card-reg-btn{
    background-color: #979483;
}
.card-reg-btn:hover,
.reg-btn:hover{
    background-color: #8e8b7b;
}
