.agenda{
    background:#572525;
}

.agenda-title{
    font-size: 3vw;
    margin-bottom: 2vw;
    white-space: pre;
}
.scrolls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scroll-img{
    width: 40vh;
    margin: 2vh 0;
    transition: .4s linear;
    cursor: pointer;
    filter: drop-shadow(-6px 10px 26px rgba(0, 0, 0, 0.5));
}
.scroll-img:hover{
    transform: scale(1.1);
}

@media (min-width: 992px) {
    .scrolls{
        align-items: flex-start;
    }
    .benzaiten{
        right: 0;
    } 
    
}