@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ruthie&display=swap');

body {
  background-color: rgb(34, 34, 34);
  scroll-behavior:smooth;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #B8B399 inset;
}
body,
h1, h2, h3, h4, h5, h6, 
ul, ol, dd,
p,a,
fieldset,
input,
textarea,
select,
button{
  margin:0; 
  padding:0; 
  color:#fff;
  font-family: 'Red Hat Text', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
}
ul, ol, dd { 
  list-style:none; 
}
fieldset, 
input,
select,
button { 
  border-width:0; 
  outline: none;
}
a { 
  text-decoration:none;   
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';

}

.swiper-pagination-vertical.swiper-pagination-bullets 
.swiper-pagination-bullet, 
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  height: 40px;
  width: 4px;
  border-radius: 6px;
  /* background-color: rgb(225, 225, 225); */
}
.swiper-pagination-bullet-active{
  background-color: rgb(220, 220, 220) !important;
}

.page{
  padding: 55px 0 50px ;
  height: 100vh;
  display: flex;
}
.swiper-pages{
  height: 100vh;
}

.texture::after,
.swiper-slide::after{
  content: "";
  background: url("./images/loader-texture.webp");
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  z-index: 4;
}

.wrapper{
  z-index: 5;
}

.card{
  padding: 24px;
  box-shadow: -10px 10px 40px 1px rgba(0, 0, 0, 0.4);
}
.card-title{
  font-size: 26px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 1px;
}

.general-btns{
  width: 100%;
  margin-top: 6vh;
  padding: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  transition: .6s;
  border: 1px solid #000;
}
.general-text{
  margin-bottom: 4vh;
}
.general-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}
.general-subtitle{
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  white-space: pre;
}
.info-line{
  border-bottom: 1px solid #fff;
  margin-bottom: 2vh;
}
.info-text{
  font-size: 13px;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: 300;
}

.info-title{
  font-weight: bold;
}
.info-lists{
  list-style-type: disc;
  list-style: inside;
  padding-left: 4px;
}
.info-lists li{
  margin-bottom: 8px;
}
.gif-img{
  height: 90vh;
  position: absolute;
  bottom: 0;
}

@media (min-width: 576px) {
  .info-text{
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .card{
    width: 500px;
    margin: 0 auto;
  }

  .info-text{
    font-size: 18px;
    letter-spacing: 2px;
  }
  .general-title{
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .general-subtitle{
    font-size: 25px;
    line-height: 24px;
    font-weight: 300;
  }
   
}
@media (min-width: 992px) {
  .info-text{
    line-height: 35px;
  }
  .card{ 
    padding: 32px 45px;
    margin: 0;
  }
  .general-title{
    font-size: 40px;
  }
  .general-subtitle{
    font-size: 20px;
   
  }
  
  
   
}