.contacts{
    background-color: #798e5e;
}
.contact-content{
    display: flex;
    flex-direction: column-reverse;
}
.contact-info{
    display: flex;
}

.contact-subtitle{
    font-size: 14px;
}
.contact-txt-inner{
    display: flex;
    margin-top: 2vh;
}
.contact-sn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4vh
}
.contact-icons{
    width: 32px;
    margin-bottom: 6px;
}
.contact-map{
    margin-bottom: 8vw;
}
.contacts-map-img{
    background-image: url('../../images/contact/map.png');
    background-repeat: no-repeat;
    background-position: center 85%;
    background-size: cover;
    height: 30vw;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

@media (min-width: 992px) {
    
    .contact-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contact-info {
        margin-top: 8vh;
    }
    .contact-map {
        margin-bottom: 0;
        
    }
    .contacts-map-img{
        height: 24vw;
        width: 500px;
    }
    .contact-sn{
        justify-content: stretch;
    }
    .contact-icons {
        width: 36px;
        margin-bottom: 14px;
    }
    
}

@media (min-width: 1200px) {
    .contact-map {
        /* margin-left: 16vh; */
        margin-right: 30vh;
    }
    .contacts-map-img{
        height: 20vw;
       
    }
   
}