
.slider-imgs,
.slide-img{
    width: 260px;   
}

@media (min-width: 576px) {
    .slider-imgs,
    .slide-img{
        width: 100%;
        
    }
    
}

@media (min-width: 992px) {
    .slider-imgs,
    .slide-img{
        width: 500px;
        
    }
    
}